.container {
}

.main {
    position: relative;
    width: 100%;
    height: 100vh;
}


.marker {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    width: 20px;
    top: 24.5%;
    left: 48.5%;
}

.text {
  color: black;
}

.marker_Tenerife {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    width: 20px;
    top: 41.5%;
    left: 48.5%;
}

.marker_Bahia {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    width: 20px;
    top: 66.5%;
    left: 38%;
}

.marker_Rio {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    width: 20px;
    top: 74%;
    left: 36%;
}

.marker_Montevideo {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    width: 20px;
    top: 80%;
    left: 33%;
}

.marker_Valparaiso {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    width: 20px;
    top: 81%;
    left: 29.5%;
}

.marker_Lima {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    width: 20px;
    top: 66%;
    left: 28.5%;
}

.marker_Sydney {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    width: 20px;
    top: 81%;
    left: 91%;
}

.marker_Hobart {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    width: 20px;
    top: 86%;
    left: 90%;
}

.marker_Sound {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    width: 20px;
    top: 80%;
    left: 82%;
}

.marker_Cape {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    width: 20px;
    top: 80%;
    left: 54.5%;
}

.map {

    cursor: grab;
}

.map:active {
    cursor: grabbing;
}